page-challenge {
    .color{
        color: white !important;
    }
    .btn-color{
        background-color: #FFDB38 !important;
        color: black !important;
    }
    .scroll-content{
        padding: 0px !important;
    }
}
