<ion-header>
  <ion-navbar>
    <ion-title text-center>Challenge</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="item">
      <ion-col>
        <h1 class="color" text-center>{{item.challengeName}}</h1>
      </ion-col>
    </ion-row>
    <div>
      <img [src]="item.imageUrl" />
    </div>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-3>
        <h2 class="color">{{item.gameType}}</h2>
      </ion-col>
      <ion-col col-5></ion-col>
      <ion-col col-3 item-right>
        <h2 class="color">{{item.amount}}</h2>
      </ion-col>
    </ion-row>
    <button ion-button class="btn-color" (click)="addOpponent()">Send Request</button>
  </ion-grid>
</ion-content>