page-about {
    img{
        border-radius: 50% !important;
        width: 160px !important;
        height: 160px !important;
    }
    ion-label{
        font-size: 20px !important;
    }
    #label{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .row-styling{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .icon-pen{
      font-size: 25px !important;
      color: #FFDB38 !important;
      margin-top: 0.2em !important;
    }
    .btn {
        width: 300px !important;
        height: 40px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
        margin-right: auto;
      }
      .account-btn {
        width: 100px !important;
        height: 40px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
        margin-right: auto;
      }

    //   star ratings
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
    fieldset, label { margin: 0;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: -1rem !important;
        padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFDB38;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFDB38;  } 
}
