page-match-finished {
  ion-label {
    font-size: 20px !important;
  }

  ion-input {
    width: 100px;
    color: black !important;
    background-color: white !important;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray
  }

  .input-styling {
    margin-left: -7rem !important;
  }

  .text-input {
    color: black !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: center !important;
    padding: 2px !important;
  }

  .checkbox-icon {

    height: 18px !important;
    border-radius: 0px !important;
    margin-top: 6px !important;
    margin-left: 60px !important;
  }

  .checkbox-label {
    font-size: 15px !important;
    color: white !important;
    margin-left: -10rem !important;
  }

  .checkbox-label2 {
    font-size: 15px !important;
    color: white !important;
    margin-left: -4rem !important;
  }

  .btn-color {

    width: 300px !important;
    background-color: #FFDB38 !important;
    color: black !important;
    margin-left: auto;
    margin-right: auto;
  }

  ion-icon {
    font-size: 2em !important;
  }
}
