
<ion-header>

  <ion-navbar>
    <ion-title>match-finished</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-label>Result</ion-label>
    </ion-row>

    <ion-row>
      <ion-col col-sm-3></ion-col>
      <ion-col col-sm-2>
        <ion-input type="number">
        </ion-input>
      </ion-col>
      <ion-label>:</ion-label>
      <ion-col col-sm-2>
        <ion-input type="number" class="input-styling">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="text-align: center !important;">
        <ion-checkbox color="light" checked="false" class="checkbox-icon"> </ion-checkbox>
    <ion-label class="checkbox-label">I broke up</ion-label>
  
  </ion-row>

  <ion-row style="text-align: center !important;">
      <ion-checkbox color="light" checked="false" class="checkbox-icon"> </ion-checkbox>
  <ion-label class="checkbox-label2">Opponent broke up</ion-label>

</ion-row>
<ion-row>
    <button ion-button class="btn-color"(click) = "additionalPhoto()">
        Additional photo<ion-icon name= "camera" item-right></ion-icon></button>
</ion-row>
<ion-row>
    <button ion-button class="btn-color"(click) = "finish()">
        Finish</button>
</ion-row>
  </ion-grid>
</ion-content>
