<!-- Themes Login + logo -->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row wrap padding>
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Logo-->
        <ion-thumbnail>
          <img padding-bottom [src]="data.logo">
        </ion-thumbnail>
        <!---Input field username-->
        <ion-item color="accent">
          <ion-label color="secondary" floating>Email</ion-label>
          <ion-input required type="text" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <!---Input field password-->
        <ion-item color="accent">
          <ion-label color="secondary" floating>Password</ion-label>
          <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col col-7></ion-col>
          <ion-col col-5>
            <p item-right ion-text color="light" (click)="forgotPassword()">Forgot Password?</p>
          </ion-col>
        </ion-row>


        <ion-row style="text-align: left !important; margin-top: -5px !important;">
          <ion-checkbox color="light" checked="false" class="checkbox-icon"> </ion-checkbox>
          <ion-label class="checkbox-label">Keep me logged in</ion-label>
          <!---Login button-->
          <button ion-button float-right default-button class="loginbtn" style=" margin-top: 0px !important;" (click)="login()">Login</button>
        </ion-row>

        <!---Register button-->
        <button ion-button float-right default-button class="loginbtn" (click)="register()">Register</button>
      </ion-col>
      <!---Share Section-->

      <!---End Share Section-->
    </ion-row>
  </ion-grid>
</ion-content>
