<ion-header>

  <ion-navbar>
    <ion-title>Create Challenge</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <!-- <ion-list>
      <ion-item>
        <ion-label text-center>Challenge Name</ion-label>
      </ion-item>
    </ion-list> -->

    <!-- <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="challengeName" name="challengeName" placeholder="challenge name"></ion-input>
      </ion-item>
    </ion-list> -->
    <ion-list>
        <ion-label class="label-margin">Platform</ion-label>
        <ion-row>
        <!-- <ion-col col-3></ion-col> -->
        <ion-col col-3>
        <ion-icon name="appname-console">.</ion-icon>
      </ion-col>
      <ion-col col-3>
          <ion-icon name="appname-console">.</ion-icon>
        </ion-col>
        <ion-col col-3>
            <ion-icon name="appname-console">.</ion-icon>
          </ion-col>
          
    </ion-row>
    </ion-list>

    <ion-list style="margin-top: -8rem !important;">
      <!-- <ion-item> -->
        <ion-label class="label-margin">Points</ion-label>
        <ion-range min="20" max="100" [(ngModel)]="amount">
          <ion-icon range-right>{{amount}}</ion-icon>
          
        </ion-range>
      <!-- </ion-item> -->
    </ion-list>

    <ion-list>
      <ion-label class="label-margin">Type of game</ion-label>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-3>
            <ion-icon class="icon-style" name="person"></ion-icon>
        </ion-col>

        <ion-col col-3>
            <ion-icon class="icon-style" name="person-add"></ion-icon>
        </ion-col>
      </ion-row>
      
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Game</ion-label>
        <ion-select [(ngModel)]="gameType" name="gameType">
          <ion-option *ngFor="let type of gameTypes" [value]="type.typeName">
            {{type.typeName}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
          <ion-label>Version</ion-label>
          <ion-select [(ngModel)]="gameType" name="gameType">
            <ion-option *ngFor="let type of gameTypes" [value]="type.typeName">
              {{type.typeName}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

    <ion-list>
      <ion-item>
        <button ion-button class="btn" (click)="choosePicture()">
          Add Image
        </button>
      </ion-item>
    </ion-list>

  </ion-card>

  <ion-row>
    <button ion-button class="btn" (click)="createChallenge()">
      Create Challenge
    </button>
  </ion-row>
</ion-content>