page-create-challenge {
    ion-label {
        font-size: 1em !important;
    }
    ion-list {
        border-bottom: none !important;
    }
    .item-md h2 {
        color: white;
    }
    .range-md {
        color: white;
    }
    .btn {
        width: 280px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        text-align: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    ion-card {
        width: 240px;
    }
    .label-margin{
        margin-left: 12px !important;
    }
    .icon-style{
        color: white !important;
        font-size:40px !important;
    }
    // .icon-style::before{
    //     color: white !important;
    // }
    // .icon-style::after{
    //     color: #FFDB38 !important;
    // }
}