page-register { 
    ion-col {
    position: relative;

    [button-clear] {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  img {
    max-width: 100px;
    max-height: 100px;
    margin: 35px auto 20px;
  }

  .checkbox-icon{
    border-radius: 0px !important;
    margin-top: 6px !important;
    margin-left: 60px !important;
}
.checkbox-label{
    color: white !important;
}
#datetime{
    color: white !important;
}
.text-col{
    color: white !important;
}
.checkbox-icon{
    border-radius: 0px !important;
    margin-top: 6px !important;
    margin-left: 55px !important;
}
.checkbox-label{
    color: white !important;
}
  ion-item {
    padding: 0 !important;
    padding-bottom: 15px !important;

    [error-field] {
      margin: 0 !important;
      position: absolute !important;
      bottom: 0 !important;
      right: 0 !important;
      font-size: 12px;
      color: theme-colors('textColors', 'primary') !important;
    }
    
    ion-label {
      color: theme-colors('textColors', 'primary') !important;
      margin-top: 0 !important;
    }

    .item-inner {
      border-bottom-color: theme-colors('mainColors', 'secondary') !important;
      box-shadow: none !important;
    }
  }

  [default-button] {
    margin-top: 20px;
  }

  [social] {
    margin: 20px auto 0;
    overflow: hidden;

    button {
      margin: 1%;
      width: 48.5%;
      display: block;
      float: left;
    }

    > button:nth-child(2n) {
      margin-right: 0;
    }
  }
  #datetime {
    color: #FFDB38 !important;
  }
}
