<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- Themes Login + logo -->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row wrap padding>
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Logo-->
        <ion-thumbnail>
          <img [src]="data.logo">
        </ion-thumbnail>
        <ion-row>
          <ion-col ion-col text-center no-padding col-12 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <h1 class="text-col">Register</h1>

            </ion-col>
      </ion-row>
        <!---Input field username-->
        <ion-item color="accent">
          <ion-label color="secondary" floating>Username</ion-label>
          <ion-input required type="text" [(ngModel)]="username" name="username"></ion-input>
          <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUsername}}</ion-label>

        </ion-item>
        <!-- Email address -->
        <ion-item color="accent">
          <ion-label color="secondary" floating>Email</ion-label>
          <ion-input required type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" name="email" [(ngModel)]="email"></ion-input>
          <ion-label error-field *ngIf="!isEmailValid">Invalid</ion-label>
        </ion-item>
        <!-- Date of birth -->
        <ion-item color="accent">
          <ion-label color="secondary" floating>Date of birth</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" id="datetime" [(ngModel)]="date" name="date"></ion-datetime>
        </ion-item>
        <!---Input field password-->
        <ion-item  color="accent">
          <ion-label color="secondary" floating>Password</ion-label>
          <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <!---Input field password-->
        <ion-item  color="accent">
          <ion-label color="secondary" floating>Confirm Password</ion-label>
        <ion-input required type="password" [(ngModel)]="confrimPassword" name="confrimPassword"></ion-input>
        </ion-item>
       
        <!---Register button-->
        <button ion-button float-right default-button (click)="register()">Register</button>
      </ion-col>
      <!---Share Section-->
     
      <!---End Share Section-->
    </ion-row>
  </ion-grid>
</ion-content>

