<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Challenges"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Profile"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Shop"></ion-tab>
</ion-tabs>
