<!--
  Generated template for the ChosenCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chosen category</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row>
          <button ion-button class="btn-color"(click) = "categories()">
              Categories</button>
      </ion-row>
  
  <!-- <ion-grid > -->
    <ion-row *ngFor="let item of data">
        <ion-card text-left>
            <!--Card-image-->
            <div>
              <img [src]="item.image" />
            </div>
            <!--Card-content-->
            <ion-card-content>
              <!--Card-title-->
              <ion-card-title no-padding text-center>
                <h2 class="card-title" card-title>{{item.price}} points</h2>
              </ion-card-title>
            
            </ion-card-content>
          </ion-card>
          </ion-row>
</ion-content>
