page-chosen-category {
  .card-title {
    color: white !important;
  }

  .btn-color {
    background-color: #FFDB38 !important;
    color: black !important;
  }

  .scroll-content {
    padding: 0px !important;
  }

  .data {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .btn-color {
    height: 40px !important;
    width: 100px !important;
    background-color: #FFDB38 !important;
    color: black !important;
    text-align: right !important;
  }
}
