page-addopponent {
    .btn-color{

        width: 300px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
    margin-right: auto;
    }
    ion-label{
        text-align: center !important;
        font-size: 20px !important;
    }
}
