<!--
  Generated template for the AddopponentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addopponent</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row >
    <ion-label>Add your opponent</ion-label>
  </ion-row>
  <ion-row>
    <ion-label>Name: Balaj Khan</ion-label>
  </ion-row>
  <ion-row>
      <button ion-button class="btn-color"(click) = "startGame()">Complete</button>

  </ion-row>
</ion-grid>
</ion-content>
