page-change-account-names {
    // ion-card {
    //     height: 300px !important;
    //   }
    
      ion-label {
        font-size: 20px !important;
        padding: 7px !important;
    
      }
    .btn {
        width: 300px !important;
        height: 40px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
        margin-right: auto;
      }
}
