<!--
  Generated template for the ChangeAccountNamesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change account names</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-row>
      <ion-label>PS4</ion-label>

      <ion-label>Bamser</ion-label>

    </ion-row>

    <ion-row>
      <ion-label>XBOX-Name</ion-label>

      <ion-label>Bamser</ion-label>

    </ion-row>

    <ion-row>
      <ion-label>PC-Name</ion-label>

      <ion-label>Bamser</ion-label>

    </ion-row>

    <ion-row>
      <ion-label>Switch</ion-label>

      <ion-label>Bamser</ion-label>

    </ion-row>

  </ion-card>
  <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br>


  <ion-row>
    <button ion-button class="btn" (click)="change()">
      Change</button>
  </ion-row>
</ion-content>
