<!--
  Generated template for the ChallengeFinishedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Challenge Finished</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-label>Finished!</ion-label>
  </ion-row>

  <ion-row>
      <ion-label>Summary:</ion-label>
      <ion-card>

         
        
          <ion-item>
            <!-- <ion-icon name="football" item-start large></ion-icon> -->
            <h2>Result Cleared</h2>
          </ion-item>
        
          <ion-item>
            <!-- <ion-icon name="wine" item-start large ></ion-icon> -->
            <h2>You won 300$</h2>
          </ion-item>
          <ion-item>
              <!-- <ion-icon name="wine" item-start large ></ion-icon> -->
              <h2>You earned X points</h2>
            </ion-item>
            <ion-item>
                <!-- <ion-icon name="wine" item-start large ></ion-icon> -->
                <h2>Congrats</h2>
              </ion-item>
        
        </ion-card>

    </ion-row>
    <br><br><br>
    <ion-row>
        <button ion-button class="btn-color"(click) = "rematch()">
            Rematch</button>
    </ion-row>

</ion-grid>
</ion-content>
