page-challenge-finished {
  ion-label {
    font-size: 20px !important;
  }
  .btn-color{

    width: 300px !important;
    background-color: #FFDB38 !important;
    color: black !important;
    margin-left: auto;
margin-right: auto;
}

//   div{
//     width: 100px;
//     height: 200px !important;
//     color: black !important;
//     background-color: white !important;
//     border: 1px solid gray;
//     border-radius: 5px;
//     color: gray
//   }
}
