<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Challenges</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--Theme Styled cards-->
    <ion-grid no-padding>
      <ion-row card-background-page>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 *ngFor="let item of challenges">
          <ion-card class="cards" text-left (click)="openPage(item)">
            <!--Card-image-->
            <div>
              <img [src]="item.imageUrl" />
            </div>
            <!--Card-content-->
            <ion-card-content>
              <!--Card-title-->
              <ion-card-title no-padding>
                <h2 card-title>{{item.challengeName}}</h2>
              </ion-card-title>
              <!--Description-->
              <h2 card-subtitle>{{item.gameType}}</h2>
              <h2 card-subtitle>{{item.amount}} Points</h2>


            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- Fab Button -->
  <ion-fab fab bottom right>
    <button button-ion-fab ion-fab (click)="faButton()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>