page-home {
    [card-img] {
        width: 130px;
        height: 220px;
        position: relative;
        margin-right: 10px;
    }

    [card-title] {
        line-height: normal !important;
        margin-bottom: 0;
        margin-top: 0;
    }
    [card-subtitle] {
        margin: 0;
    }
    [card-body-text] {
        padding-top: 20px;
    }
    [fab] {
        // margin-bottom: 10px;
    }
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    .tab-decription {
        display: table-cell;
        vertical-align: middle;
        padding: 0 30px;
        z-index: 9;
        position: relative;
    }
    scroll-content {
        background-color: transparent !important;
    }
   .scroll-content{
       margin-top: 0px;
       margin-bottom: 0px;
   }
}
