<!--
  Generated template for the RematchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>rematch</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-label>Ask for rematch</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>
            How much
          </ion-label>
        </ion-row>

        <ion-row>
            <ion-col col-sm-2>
              <ion-input type="text" placeholder="$">
              </ion-input>
            </ion-col>
           
          </ion-row>
          <br><br>
          <ion-row>
              <button ion-button class="btn-color"(click) = "resultNotClear()">
                  Send rematch request</button>
          </ion-row>
        </ion-grid>
</ion-content>
