page-rematch {
    ion-label {
        font-size: 20px !important;
      }
    ion-input{
        width: 100px;
          color: black !important;
          background-color: white !important;
          border: 1px solid gray;
          border-radius: 5px;
          color: gray;
          ::placeholder {
            color: black !important;
          }
    }
    .text-input {
        color: black !important;
        font-size: 18px !important;
        font-weight: bold !important;
        text-align: center !important;
    }

    .btn-color{

        width: 300px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
    margin-right: auto;
    }
}
