page-startgame {
    .btn-color{

        width: 300px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
    margin-right: auto;
    }
    ion-icon{
        font-size: 2em !important;
    }
}
