<!--
  Generated template for the StartgamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Start game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
    <ion-row>
        <button ion-button class="btn-color"(click) = "takePhoto()">
          Take photo<ion-icon name= "camera" item-right></ion-icon></button>
  
    </ion-row>
</ion-grid>
</ion-content>
