page-deposit {
#margin{
    margin-left: auto !important;
    margin-right: auto !important;
}
.btn {
    width: 170px !important;
    height: 40px !important;
    background-color: #FFDB38 !important;
    color: black !important;
    margin-left: auto;
    margin-right: auto;
  }
  ion-label{
      font-size: 20px !important;
  }
}
