<!--
  Generated template for the DepositPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>deposit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid *ngIf="data">
    <ion-row id="margin">
        
        <!-- <ion-col col-4> -->
        <ion-label>$-Balance : {{data.balance}}</ion-label>
      <!-- </ion-col> -->
      </ion-row>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <ion-row>
          <button ion-button class="btn" (click)="deposit()">
            Deposit</button>
        </ion-row>
</ion-grid>
</ion-content>
