page-settings {
  ion-card {
    height: 300px !important;
  }

  ion-label {
    font-size: 20px !important;
    padding: 7px !important;

  }

  .btn {
    text-align: right !important;
    width: 100px !important;
    height: 40px !important;
    background-color: #FFDB38 !important;
    color: black !important;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-color {
    height: 40px !important;
    width: 200px !important;
    background-color: #FFDB38 !important;
    color: black !important;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-styles{
    a:hover {
        text-decoration: underline !important;
        color: #FFDB38 !important
      }
      height: 20px !important;
    background-color: transparent !important;
    color: #FFDB38 !important;
    margin-left: auto;
    margin-right: auto;
  }
}
