<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-row>
      <ion-label>PS4</ion-label>

      <ion-label>Bamser</ion-label>

    </ion-row>

    <ion-row>
      <ion-label>XBOX-Name</ion-label>

      <ion-label>Bamser</ion-label>

    </ion-row>

    <ion-row>
      <ion-label>PC-Name</ion-label>

      <ion-label>Bamser</ion-label>

    </ion-row>

    <ion-row>
      <ion-label>Switch</ion-label>

      <ion-label>Bamser</ion-label>

    </ion-row>
    <ion-row>
      <ion-col col-6></ion-col>
      <button ion-button class="btn" (click)="change()">
        Change</button>
    </ion-row>
  </ion-card>
  <ion-row>
    <ion-col col-4>
      <button ion-button class="btn-color" (click)="changePassword()">
        Change password</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-4>
      <button ion-button class="btn" (click)="contactUs()">
        Support</button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-3>
        <button ion-button class="btn-styles" (click)="policies()">
          Policies</button>
      </ion-col>
    </ion-row>
  <ion-row>
      <ion-col col-4>
        <button ion-button class="btn-color" (click)="delAccount()">
          Delete Account</button>
      </ion-col>
    </ion-row>
</ion-content>
