<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Categories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-list *ngFor="let item of data">
    <ion-item (click) = "chosenCategory()">
      {{item.object}}
    </ion-item>
    
  </ion-list>
</ion-grid>
</ion-content>
