<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <br><br><br><br><br><br><br><br>
    <ion-row>
      <ion-col col-12>
      
       
        <!---Input field username-->
        <!-- <ion-item color="accent"> -->
          <ion-input required type="password" placeholder="Current password" name="password"></ion-input>
        <!-- </ion-item> -->
        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
          
           
            <!---Input field username-->
            <!-- <ion-item color="accent"> -->
              <ion-input required type="password" placeholder="New password" name="password"></ion-input>
            <!-- </ion-item> -->
            </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12>
              
               
                <!---Input field username-->
                <!-- <ion-item color="accent"> -->
                  <ion-input required type="password" placeholder="Confirm new password" name="password"></ion-input>
                <!-- </ion-item> -->
                </ion-col>
                </ion-row>
                <br><br><br><br><br><br><br><br>
                <br><br><br><br><br>

                <ion-row>
                  <button ion-button class="btn" (click)="change()">
                    Change</button>
                </ion-row>
        </ion-grid>
</ion-content>
