page-withdraw {
  #margin {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .btn {
    width: 170px !important;
    height: 40px !important;
    background-color: #FFDB38 !important;
    color: black !important;
    margin-left: auto;
    margin-right: auto;
  }

  ion-label {
    font-size: 20px !important;
  }

  .input-styles {
    width: 100px;
    height: 40px !important;
    color: black !important;
    background-color: white !important;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray
  }

  .fields {
    margin-left: auto;
    margin-right: auto;
    width: 300px !important;
    color: black !important;
    background-color: white !important;
    border: 1px solid gray;
    border-radius: 5px;

    color: gray;

    ::placeholder {
      color: black !important;
    }
  }

  .text-input {
    color: black !important;
    font-size: 15px !important;
    margin-left: 7px !important;
    font-weight: 400 !important;
    // text-align: center !important;
    // padding: 2px !important;
  }
}
