<!--
  Generated template for the WithdrawPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>withdraw</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid *ngIf="data">
        <ion-row id="margin">
            
            <!-- <ion-col col-4> -->
            <ion-label><b>$-Balance : </b>{{data.balance}}</ion-label>
          <!-- </ion-col> -->
          </ion-row>
          <ion-row id="margin">
            
              <!-- <ion-col col-4> -->
              <ion-label>Amount</ion-label><ion-input class="input-styles" type="text"></ion-input>
            <!-- </ion-col> -->
            </ion-row>
            <ion-row>
                <ion-col col-12>
                
                 
                  <!---Input field username-->
                  <!-- <ion-item color="accent"> -->
                    <ion-input class="fields" required type="text" placeholder="First Name" name="firstname"></ion-input>
                  <!-- </ion-item> -->
                  </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-12>
                      
                       
                        <!---Input field username-->
                        <!-- <ion-item color="accent"> -->
                          <ion-input class="fields" required type="text" placeholder="Last Name" name="lastname"></ion-input>
                        <!-- </ion-item> -->
                        </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                            
                             
                              <!---Input field username-->
                              <!-- <ion-item color="accent"> -->
                                <ion-input class="fields" required type="text" placeholder="Number" name="number"></ion-input>
                              <!-- </ion-item> -->
                              </ion-col>
                              </ion-row>
                              <br><br><br><br>
          <ion-row>
              <button ion-button class="btn" (click)="withdraw()">
                Withdraw</button>
            </ion-row>
    </ion-grid>
</ion-content>
