<ion-menu [content]="content" side="left" id="menu1">
  <ion-content>
    <ion-list>
      <br>
      <button ion-item menuClose="menu1" detail-none (click)="lastMatches()">
        Last Matches
      </button>
      <button ion-item menuClose="menu1" detail-none (click)="lastMatches()">
        Buy Points
      </button>
      <button ion-item menuClose="menu1" detail-none (click)="payment()">
        Longtime Tables
      </button>
      <button ion-item menuClose="menu1" detail-none (click)="lastMatches()">
        Week Tables
      </button>
      <button ion-item menuClose="menu1" detail-none (click)="lastMatches()">
        WEELE Challenge
      </button>
      <button ion-item menuClose="menu1" detail-none (click)="lastMatches()">
        Special Challenges
      </button>
      <button ion-item menuClose="menu1" detail-none (click)="settings()">
        CT
      </button>
      <button ion-item menuClose="menu1" detail-none (click)="CT()">
        Settings
      </button>
      <button ion-item menuClose="menu1" detail-none (click)="logout()">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
