
<ion-header>

  <ion-navbar>
    <ion-title>Start Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid no-padding>
        <ion-row card-background-page>
          <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <ion-card text-left>
                  <!--Card-image-->
                  <div>
                    <img [src]="data.image"/>
                  </div>
                  
                </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
            <button ion-button class="btn-color"(click) = "beginMatch()">
                Accept and begin match</button>
        </ion-row>
      </ion-grid>
</ion-content>
