page-gamepicture {
    .btn-color{

        width: 300px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
    margin-right: auto;
    }
    img{
        height: 270px !important;
    }
}
