page-contact-us {
    ion-textarea {
        margin-left: auto;
        margin-right: auto;
        width: 300px !important;
        height: 100px !important;
        color: black !important;
        background-color: white !important;
        border: 1px solid gray;
        border-radius: 5px;
        color: gray;
    
        ::placeholder {
          color: black !important;
        }
      }
    
      .text-input {
        color: black !important;
        font-size: 15px !important;
        margin-left: 8px !important;
        font-weight: 400 !important;
        // text-align: center !important;
      }
      .btn {
        width: 300px !important;
        height: 40px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
        margin-right: auto;
      }
}
