<!--
  Generated template for the ContactUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <br><br><br><br><br>
        <ion-row>
          <ion-col col-12>
          
           
            <!---Input field username-->
            <!-- <ion-item color="accent"> -->
              <ion-textarea required type="text" placeholder="Reason"></ion-textarea>
            <!-- </ion-item> -->
            </ion-col>
            </ion-row>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <ion-row>
                <button ion-button class="btn" (click)="change()">
                  Change</button>
              </ion-row>
            </ion-grid>
</ion-content>
