page-result-not-clear {
    ion-label {
        font-size: 20px !important;
      }
      .btn{
    
        width: 200px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
    margin-right: auto;
    }
      .btn-color{
    
        width: 300px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
    margin-right: auto;
    }
    ion-icon{
        font-size: 2em !important;
    }
    ion-card{
        height: 150px !important;
    }
}
