<!--
  Generated template for the ChallengeFinishedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Reults</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-label>Finished!</ion-label>
    </ion-row>
  
    <ion-row>
        <ion-label>Summary:</ion-label>
        <ion-card>
  
            <ion-item>
              <!-- <ion-icon name="football" item-start large></ion-icon> -->
              <h2>Result are not clear!</h2>
            </ion-item>
          
          </ion-card>
  
      </ion-row>
      <br><br><br>
      <ion-row>
          <button ion-button class="btn"(click) = "rematch()">
              Change result</button>
      </ion-row>
<br><br>
      <ion-row>
          <button ion-button class="btn-color"(click) = "rematch()">
              Finish and open ticket<ion-icon name= "camera" item-right></ion-icon></button>
      </ion-row>
  
  </ion-grid>
  </ion-content>
  