<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-grid>
        <br>
        <br>
        <br>
          <ion-row>
              <button ion-button class="btn" (click)="deposit()">
                Deposit</button>
            </ion-row>
    
            <ion-row>
                <button ion-button class="btn" (click)="withdraw()">
                  Withdraw</button>
              </ion-row>
      </ion-grid>
</ion-content>
