page-account {
    .btn {
        width: 170px !important;
        height: 40px !important;
        background-color: #FFDB38 !important;
        color: black !important;
        margin-left: auto;
        margin-right: auto;
      }
}
