<!--
  Generated template for the MatchOngoingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Match Ongoing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
    <ion-row>
        <button ion-button class="btn-color"(click) = "finish()">
            Finish</button>
    </ion-row>
</ion-grid>
</ion-content>
